.todayContainer {
  margin: 10px;
  display: flex;
  background-color: #00b5e7;
  border-radius: 10px;
  box-shadow: 0 0 10px #005f79;
  padding: 20px;
  color: #2c2c2c;

  .todayInner {
    margin-right: 60px;
    margin-left: 10px;
    text-align: center;
  }  

  .todayForecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    align-items: center;
    width: 100%;
    border: 2px solid #0a82cc;
    border-radius: 12px;
    box-shadow: inset 0 0 10px gray;
  
    div {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 90%;
    }
  
    div:not(:last-child) {
      border-right: 2px solid #0a82cc;
      border-radius: 2px;
    }
    
    p {
      display: flex;
      justify-content: space-between;
    }
  }
}

.date {
  margin-left: 5px;
}


@media only screen and (max-width: 768px) {
  .todayContainer {
    margin: 5px;
    flex-direction: column;
    padding: 5px;

    .todayInner {
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 10px;
      border-bottom: 2px solid #0a82cc;

      p, b {
        font-size: 1.25rem;
      }
    }

    .todayForecast {
      margin-top: 10px;
      grid-template-columns: repeat(1, 1fr);
      border: none;
      box-shadow: none;

      div {
        padding: 10px 20px;        
      }

      div:not(:last-child) {
        border-right: none;
      }
    }
  }  
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .todayContainer {
    flex-direction: column;

    .todayInner {
      margin: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 10px;
      border-bottom: 2px solid #0a82cc;

      p, b {
        font-size: 1.25rem;
      }
    }

    .todayForecast {
      margin-top: 10px;
      grid-template-columns: repeat(2, 1fr);
      border: none;
      box-shadow: none;

      div {
        padding: 10px 20px;        
      }

      div:not(:last-child) {
        border-right: none;
      }
    }
  }  
}

@media only screen and (min-width: 1401px){
  .todayContainer {
    .todayForecast {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}